<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome to the realtime chat
    </ion-title>
    <ion-buttons slot="end">
      <img (click)="fileInput.click()" style="max-height: 30px;" [src]="fireService.currentlySignedInUserAvatarURL">
      <input (change)="fireService.updateUserImage($event)" hidden #fileInput type="file">

      <ion-button (click)="signout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<div
  style="display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 1fr;
" *ngIf="fireService.auth.currentUser==null">
  <div style="text-align: center; grid-column: 4 / 10; grid-row: 8 / 16">
    <ion-item>
      <ion-input placeholder="email" [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="password" [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-button (click)="fireService.signIn(email, password)">Sign in</ion-button>
    <ion-button color="warning" (click)="fireService.register(email, password)">Sign up</ion-button>
  </div>
</div>


<div *ngIf="fireService.auth.currentUser"
     style="height: calc(100% - 150px);
display: grid;
align-content: end;
grid-template-columns: repeat(12, 1fr);
grid-auto-rows: 50px;
overflow-y: scroll"
>

  <div style="grid-column: 1 / 12" *ngFor="let m of fireService.messages">
    <div style="float: right" *ngIf="fireService.auth.currentUser.uid==m.user">
      <ion-text style="background-color: cornflowerblue; color: white; padding: 5px 12px; border-radius: 15px;">
        {{m.messageContent}}
      </ion-text> <ion-badge color="warning" *ngIf="m.hasNotBeenThroughToxicityFilterYet">!</ion-badge>
    </div>

    <div style="float: left" *ngIf="fireService.auth.currentUser.uid!=m.user">
      <ion-text style="background-color: lightgrey; color: black; padding: 5px 12px; border-radius: 15px;">
        {{m.messageContent}}
      </ion-text>
    </div>


  </div>


</div>


<div *ngIf="fireService.auth.currentUser"
style="grid-column: 1 / 12;">

  <ion-item>
    <ion-input placeholder="write something nice" [(ngModel)]="sendThisMessage"></ion-input>
    <ion-button  fill="outline" (click)="fireService.sendMessage(sendThisMessage)">send message</ion-button>

  </ion-item>


</div>
